<div class="sj-main-container mdl-grid">
    <div class="mdl-card mdl-shadow--2dp sj-ceremony-card-wide  mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Ceremony</h2>
        </div>

        <div class="mdl-card__supporting-text">
            Ceremony will take place at St Marks  Anglican Church on Jan 2nd at XX:XX am
        </div>
        <div class="mdl-card__supporting-text">
            13 Church Ln, East London, 5206, South Africa
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" target="_blank" href="https://www.google.ca/maps/place/St+Marks+Anglican+Church/@-32.972707,27.882339,17z/data=!3m1!4b1!4m2!3m1!1s0x1e66e0630cdd3aeb:0xf470ca0aa1f70826">
                Find on Google Maps
            </a>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">share</i>
            </button>
        </div>
    </div>
</div>