<div class="sj-main-container mdl-grid">


    <!--<div class="mdl-cell--1-col"></div>-->
    <div class="mdl-card mdl-shadow--2dp mdl-cell--9-col sj-gallery-container">
        <div class="mdl-card__media">
            <div id="sj-gallery-container" class="owl-carousel">

                <div class="item"><img class="lazyOwl" data-src="assets/images/gallery/IMG-20150701-WA0005.jpg" alt="SJ Gallery Image"></div>
                <div class="item"><img class="lazyOwl" data-src="assets/images/gallery/IMG-20131230-WA0002.jpg" alt="SJ Gallery Image"></div>
                <div class="item"><img class="lazyOwl" data-src="assets/images/gallery/IMG-20140324-WA0004.jpg" alt="SJ Gallery Image"></div>
                <div class="item"><img class="lazyOwl" data-src="assets/images/gallery/IMG-20140914-WA0004.jpg" alt="SJ Gallery Image"></div>
                <div class="item"><img class="lazyOwl" data-src="assets/images/gallery/IMG-20141008-WA0004.jpg" alt="SJ Gallery Image"></div>
                <div class="item"><img class="lazyOwl" data-src="assets/images/gallery/IMG-20150117-WA0006.jpg" alt="SJ Gallery Image"></div>
                <div class="item"><img class="lazyOwl" data-src="assets/images/gallery/IMG-20150701-WA0008.jpg" alt="SJ Gallery Image"></div>
                <div class="item"><img class="lazyOwl" data-src="assets/images/gallery/IMG-20150702-WA0002.jpg" alt="SJ Gallery Image"></div>
                <div class="item"><img class="lazyOwl" data-src="assets/images/gallery/IMG-20150703-WA0003.jpg" alt="SJ Gallery Image"></div>
                <!--<div class="item"><img class="lazyOwl" data-src="assets/images/gallery/IMG-20150711-WA0001.jpg" alt="SJ Gallery Image"></div>-->
                <div class="item"><img class="lazyOwl" data-src="assets/images/gallery/IMG_20140420_221020.jpg" alt="SJ Gallery Image"></div>
                <div class="item"><img class="lazyOwl" data-src="assets/images/gallery/IMG_20140420_221125.jpg" alt="SJ Gallery Image"></div>
                <div class="item"><img class="lazyOwl" data-src="assets/images/gallery/IMG_20150130_120115.jpg" alt="SJ Gallery Image"></div>
                <div class="item"><img class="lazyOwl" data-src="assets/images/gallery/IMG_20150630_132324.jpg" alt="SJ Gallery Image"></div>
                <div class="item"><img class="lazyOwl" data-src="assets/images/gallery/IMG_20150701_174906.jpg" alt="SJ Gallery Image"></div>
                <div class="item"><img class="lazyOwl" data-src="assets/images/gallery/Screenshot_2013-12-29-19-27-49.jpg" alt="SJ Gallery Image"></div>

            </div>
        </div>
    </div>
</div>

