<div class="sj-main-container mdl-grid">
    <div class="mdl-card mdl-shadow--2dp sj-reception-card-wide  mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Reception</h2>
        </div>
        <div class="mdl-card__supporting-text">
            The reception will be held at Inkwenkwezi Private Game Reserve on Jan 2nd at XX:XXpm
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Find on Google Maps
            </a>
        </div>
        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">share</i>
            </button>
        </div>
    </div>
</div>