<div class="sj-main-container mdl-grid">
    <div class="mdl-card mdl-shadow--2dp sj-reception-card-wide  mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Reception</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <h6>The reception will be held at Inkwenkwezi Private Game Reserve following the ceremony at 1:30pm.</h6>
            <h6>The address of Inkwenkwezi Private Game Reserve is:
                <p>
                    Inkwenkwezi Private Game Reserve,
                    Schafli Road,
                    East Coast,
                    East London,
                    South Africa.
                </p>
            </h6>

            <h6><p>Telephone:     +27 (043) 734 3234</p></h6>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" target="_blank"
               href="https://www.google.ca/maps/place/Inkwenkwezi+private+game+reserve/@-32.8390228,28.0776644,17z/data=!3m1!4b1!4m2!3m1!1s0x1e672365102ae875:0x734348d070f6d145">
                Find on Google Maps
            </a>
        </div>
<!--        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">share</i>
            </button>
        </div>-->
    </div>
</div>