/*****************************************/
/*background image and text formatting*/
/*****************************************/
.layout-transparent {
    background: url('../images/header-bg.jpg') center / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
}


/*****************************************/
/*Main content window sizing*/
/*****************************************/
.sj-main-container{
    max-width: 900px;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-top: 40px;
}


.sj-home-card-wide > .mdl-card__title {
    color: #fff;
    height: 376px;
    background: url('../images/home.JPG') center / cover;
}


.sj-reception-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    /*background: url('../images/home.JPG') center / cover;*/
    background: url('../images/reception.jpg') center / cover;
    background-position-x: 0px;
}

@media (min-width: 768px ) {
    .sj-home-card-wide > .mdl-card__title {
        height: 476px;
    }

    .sj-reception-card-wide > .mdl-card__title {
        background-position:center;
    }

}
